[mysqld]
performance-schema=0
[client]
port=3306
socket="/var/lib/mysql/mysql.sock"

[mysqld]
performance-schema=0
innodb_buffer_pool_size=2G
innodb_file_per_table=1
myisam_sort_buffer_size=64M
expire_logs_days=7
query_cache_size=128M
thread_cache_size=12
max_allowed_packet=60M
skip-federated
table_definition_cache=2048
local-infile=0
table_open_cache=8192
max_connections=100
read_buffer_size=2M
sort_buffer_size=2M
port=3306
join_buffer_size=16M
key_buffer_size=600M
query_cache_limit=10M
socket="/var/lib/mysql/mysql.sock"
skip-external-locking
query-cache-type=1
long_query_time=5
default-storage-engine=InnoDB
tmp_table_size=384M
max_heap_table_size=384M
wait_timeout=1800
interactive_timeout=1800

[myisamchk]
read_buffer=2M
key_buffer=256M
sort_buffer_size=256M